Tutorial created by Caio Moreno

Hadoop commands <BR>
https://github.com/caiomsouza/pentaho-big-data-guides-and-sample-code/tree/master/guides  <BR>
https://github.com/caiomsouza/big-data-science <BR>

In [82]:
%sh
!pwd

/var/lib/jupyter

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [84]:
%sh
!ls

ml-latest  ml-latest.zip

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [1]:
import os
os.listdir(os.getcwd())

Starting Spark application

SparkSession available as 'spark'.
['__spark_conf__', '.launch_container.sh.crc', 'default_container_executor.sh', 'pyspark.zip', 'py4j-0.10.6-src.zip', 'container_tokens', 'launch_container.sh', 'livy-api-0.4.0.2.6.5.3003-25.jar', '.default_container_executor_session.sh.crc', 'default_container_executor_session.sh', 'commons-codec-1.9.jar', 'livy-core_2.11-0.4.0.2.6.5.3003-25.jar', 'sparkr', 'livy-rsc-0.4.0.2.6.5.3003-25.jar', 'netty-all-4.0.29.Final.jar', 'tmp', '.default_container_executor.sh.crc', '.container_tokens.crc', 'livy-repl_2.11-0.4.0.2.6.5.3003-25.jar']

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [3]:
os.listdir(os.getcwd())

['__spark_conf__', '.launch_container.sh.crc', 'default_container_executor.sh', 'pyspark.zip', 'py4j-0.10.6-src.zip', 'container_tokens', 'launch_container.sh', 'livy-api-0.4.0.2.6.5.3003-25.jar', '.default_container_executor_session.sh.crc', 'default_container_executor_session.sh', 'commons-codec-1.9.jar', 'livy-core_2.11-0.4.0.2.6.5.3003-25.jar', 'sparkr', 'livy-rsc-0.4.0.2.6.5.3003-25.jar', 'netty-all-4.0.29.Final.jar', 'tmp', '.default_container_executor.sh.crc', '.container_tokens.crc', 'livy-repl_2.11-0.4.0.2.6.5.3003-25.jar']

In [4]:
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [5]:
spark.sql('show tables').show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
| default|hivesampletable|      false|
+--------+---------------+-----------+

In [6]:
fncs =  spark.sql('show functions').collect()
len(fncs)

267

In [7]:
for i in fncs[100:111]:
    print(i[0])

grouping_id
hash
hex
hour
hypot
if
ifnull
in
initcap
inline
inline_outer

In [8]:
spark.sql("describe function instr").show(truncate = False)

+-----------------------------------------------------------------------------------------------------+
|function_desc                                                                                        |
+-----------------------------------------------------------------------------------------------------+
|Function: instr                                                                                      |
|Class: org.apache.spark.sql.catalyst.expressions.StringInstr                                         |
|Usage: instr(str, substr) - Returns the (1-based) index of the first occurrence of `substr` in `str`.|
+-----------------------------------------------------------------------------------------------------+

In [9]:
spark.sql('create database movies')

DataFrame[]

In [10]:
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
|      movies|
+------------+

In [12]:
%sh
! wget http://files.grouplens.org/datasets/movielens/ml-latest.zip

--2018-10-08 19:31:28--  http://files.grouplens.org/datasets/movielens/ml-latest.zip
Resolving files.grouplens.org (files.grouplens.org)...

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

128.101.34.235
Connecting to files.grouplens.org (files.grouplens.org)|128.101.34.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 277113433 (264M) [application/zip]
Saving to: ‘ml-latest.zip’

ml-latest.zip       100%[===================>] 264.28M  27.0MB/s    in 11s

2018-10-08 19:31:39 (24.9 MB/s) - ‘ml-latest.zip’ saved [277113433/277113433]

In [13]:
spark.sql('use movies')

DataFrame[]

In [14]:
spark.sql('create table movies \
         (movieId int,title string,genres string) \
         row format delimited fields terminated by ","\
         stored as textfile')                                              # in textfile format
spark.sql("create table ratings\
           (userId int,movieId int,rating float,timestamp string)\
           stored as ORC" )

DataFrame[]

In [15]:
spark.sql("create table genres_by_count\
           ( genres string,count int)\
           stored as AVRO" )

DataFrame[]

In [16]:
spark.sql("show tables").show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
|  movies|genres_by_count|      false|
|  movies|         movies|      false|
|  movies|        ratings|      false|
+--------+---------------+-----------+

In [17]:
spark.sql("describe formatted ratings").show(truncate = False)

+----------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                       |comment|
+----------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------+
|userId                      |int                                                                                                                             |null   |
|movieId                     |int                                                                                                                             |null   |
|rating                      |float                                                                                                                           |null   |
|timestamp                   |string                                                                                                                          |null   |
|                            |                                                                                                                                |       |
|# Detailed Table Information|                                                                                                                                |       |
|Database                    |movies                                                                                                                          |       |
|Table                       |ratings                                                                                                                         |       |
|Owner                       |livy                                                                                                                            |       |
|Created Time                |Mon Oct 08 19:32:05 UTC 2018                                                                                                    |       |
|Last Access                 |Thu Jan 01 00:00:00 UTC 1970                                                                                                    |       |
|Created By                  |Spark 2.3.0.2.6.5.3003-25                                                                                                       |       |
|Type                        |MANAGED                                                                                                                         |       |
|Provider                    |hive                                                                                                                            |       |
|Table Properties            |[transient_lastDdlTime=1539027125]                                                                                              |       |
|Location                    |wasbs://hdinsightcluster01-2018-10-08t18-48-01-354z@azhdinsightdemo041019.blob.core.windows.net/hive/warehouse/movies.db/ratings|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.orc.OrcSerde                                                                                       |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.orc.OrcInputFormat                                                                                 |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.orc.OrcOutputFormat                                                                                |       |
|Storage Properties          |[serialization.format=1]                                                                                                        |       |
+----------------------------+--------------------------------------------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [29]:
%sh
!ls -lh

total 265M
-rw-r--r-- 1 spark hadoop 265M Sep 27 17:29 ml-latest.zip

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [30]:
%sh
!pwd

/var/lib/jupyter

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [31]:
%sh
!mv /var/lib/jupyter/ml-latest.zip /example/data

mv: cannot move '/var/lib/jupyter/ml-latest.zip' to '/example/data': No such file or directory

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [32]:
%sh
!unzip ml-latest.zip

Archive:  ml-latest.zip
   creating: ml-latest/
  inflating: ml-latest/links.csv

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

  inflating: ml-latest/tags.csv
  inflating: ml-latest/genome-tags.csv
  inflating: ml-latest/ratings.csv
  inflating: ml-latest/README.txt
  inflating: ml-latest/genome-scores.csv
  inflating: ml-latest/movies.csv

In [33]:
%sh
!tail ml-latest/tags.csv

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [39]:
%sh
!hdfs dfs -ls /example/data/

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

Found 9 items
-rw-r--r--   1 root    supergroup         66 2018-10-08 19:11 /example/data/fruits.txt
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/gutenberg
-rw-r--r--   1 sshuser supergroup    2858223 2018-10-08 20:02 /example/data/movies.csv
-rw-r--r--   1 root    supergroup         77 2018-10-08 19:11 /example/data/people.json
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/people.parquet
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/people.seq
-rw-r--r--   1 spark   supergroup  759200511 2018-10-08 20:04 /example/data/ratings.csv
-rw-r--r--   1 root    supergroup      97884 2018-10-08 19:11 /example/data/sample.log
-rw-r--r--   1 root    supergroup         62 2018-10-08 19:11 /example/data/yellowthings.txt

In [59]:
%sh
!hadoop fs -copyFromLocal /var/lib/jupyter/ml-latest/* /example/data/

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

copyFromLocal: `/example/data/movies.csv': File exists
copyFromLocal: `/example/data/ratings.csv': File exists

In [60]:
%sh
!hdfs dfs -ls /example/data/

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

Found 14 items
-rw-r--r--   1 spark   supergroup       9784 2018-10-08 20:15 /example/data/README.txt
-rw-r--r--   1 root    supergroup         66 2018-10-08 19:11 /example/data/fruits.txt
-rw-r--r--   1 spark   supergroup  414851573 2018-10-08 20:15 /example/data/genome-scores.csv
-rw-r--r--   1 spark   supergroup      18103 2018-10-08 20:15 /example/data/genome-tags.csv
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/gutenberg
-rw-r--r--   1 spark   supergroup    1267039 2018-10-08 20:15 /example/data/links.csv
-rw-r--r--   1 sshuser supergroup    2858223 2018-10-08 20:02 /example/data/movies.csv
-rw-r--r--   1 root    supergroup         77 2018-10-08 19:11 /example/data/people.json
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/people.parquet
drwxr-xr-x   - root    supergroup          0 2018-10-08 19:11 /example/data/people.seq
-rw-r--r--   1 spark   supergroup  759200511 2018-10-08 20:04 /example/data/ratings.csv
-rw-r--r--   1 root    supergroup      97884 2018-10-08 19:11 /example/data/sample.log
-rw-r--r--   1 spark   supergroup   39744990 2018-10-08 20:15 /example/data/tags.csv
-rw-r--r--   1 root    supergroup         62 2018-10-08 19:11 /example/data/yellowthings.txt

In [38]:
%sh
!hadoop fs -copyFromLocal /var/lib/jupyter/ml-latest/ratings.csv /example/data/

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

In [87]:
%sql 
LOAD DATA INPATH '/example/data/movies.csv' INTO TABLE movies;

/bin/sh: LOAD: command not found

ERROR: Line magic function `%sql` not found (But cell magic `%%sql` exists, did you mean that instead?).

In [69]:
spark.sql("load data local inpath '/example/data/movies.csv'\
                 overwrite into table movies")

'LOAD DATA input path does not exist: /example/data/movies.csv;'
Traceback (most recent call last):
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/session.py", line 714, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/hdp/current/spark2-client/python/lib/py4j-0.10.6-src.zip/py4j/java_gateway.py", line 1160, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'LOAD DATA input path does not exist: /example/data/movies.csv;'

The command below is not working.

spark.sql("load data local inpath '/example/data/movies.csv'\
                 overwrite into table movies")

Run the command below in the Hive Query UI:
LOAD DATA INPATH '/example/data/movies.csv' INTO TABLE movies;

In [68]:
spark.sql("select * from movies").show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|   null|               title|              genres|
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11| "American President|         The (1995)"|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
+-------+--------------------+--------------------+
only showing top 20 rows

In [70]:
spark.sql("load data local inpath 'hdfs:///example/data/movies.csv'\
                 overwrite into table movies")

'LOAD DATA input path does not exist: hdfs:///example/data/movies.csv;'
Traceback (most recent call last):
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/session.py", line 714, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/hdp/current/spark2-client/python/lib/py4j-0.10.6-src.zip/py4j/java_gateway.py", line 1160, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'LOAD DATA input path does not exist: hdfs:///example/data/movies.csv;'

In [44]:
from pyspark.sql.types import *
schema = StructType([
             StructField('userId', IntegerType()),
             StructField('movieId', IntegerType()),
             StructField('rating', DoubleType()),
             StructField('timestamp', StringType())
            ])

In [45]:
ratings_df = spark.read.csv("/example/data/ratings.csv", schema = schema, header = True)

In [46]:
ratings_df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)

In [47]:
ratings_df.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|1256677221|
|     1|    481|   3.5|1256677456|
|     1|   1091|   1.5|1256677471|
|     1|   1257|   4.5|1256677460|
|     1|   1449|   4.5|1256677264|
+------+-------+------+----------+
only showing top 5 rows

In [48]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

conf = SparkConf().setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)

rdd = sc.textFile("/example/data/ratings.csv")
header = rdd.first()
ratings_df2 = rdd.filter(lambda line: line != header).map(lambda line: Row(userId = int(line.split(",")[0]),
                                                                     movieId = int(line.split(",")[1]),
                                                                     rating = float(line.split(",")[2]),
                                                                     timestamp = line.split(",")[3]
                                                                    )).toDF()

In [49]:
rdd2 = rdd.filter(lambda line: line != header).map(lambda line:line.split(","))
ratings_df2_b =spark.createDataFrame(rdd2, schema = schema)

In [50]:
ratings_df2.printSchema()

root
 |-- movieId: long (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- userId: long (nullable = true)

In [51]:
ratings_df2.show(5)

+-------+------+----------+------+
|movieId|rating| timestamp|userId|
+-------+------+----------+------+
|    307|   3.5|1256677221|     1|
|    481|   3.5|1256677456|     1|
|   1091|   1.5|1256677471|     1|
|   1257|   4.5|1256677460|     1|
|   1449|   4.5|1256677264|     1|
+-------+------+----------+------+
only showing top 5 rows

In [71]:
spark.sql("insert into table ratings select * from ratings_df_table")

'Table or view not found: ratings_df_table; line 1 pos 40'
Traceback (most recent call last):
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/session.py", line 714, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/hdp/current/spark2-client/python/lib/py4j-0.10.6-src.zip/py4j/java_gateway.py", line 1160, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table or view not found: ratings_df_table; line 1 pos 40'

In [72]:
spark.sql("select * from movies limit 10").show(truncate = False)

+-------+----------------------------------+-------------------------------------------+
|movieId|title                             |genres                                     |
+-------+----------------------------------+-------------------------------------------+
|null   |title                             |genres                                     |
|1      |Toy Story (1995)                  |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                    |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)           |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)          |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)|Comedy                                     |
|6      |Heat (1995)                       |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                    |Comedy|Romance                             |
|8      |Tom and Huck (1995)               |Adventure|Children                         |
|9      |Sudden Death (1995)               |Action                                     |
+-------+----------------------------------+-------------------------------------------+

In [73]:
spark.sql("select * from ratings limit 10").show(truncate = False)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
+------+-------+------+---------+

In [74]:
spark.sql("select genres, count(*) as count from movies\
          group by genres\
          having count(*) > 500 \
          order by count desc").show()

+--------------------+-----+
|              genres|count|
+--------------------+-----+
|               Drama| 7069|
|              Comedy| 4735|
|  (no genres listed)| 4135|
|         Documentary| 3777|
|        Comedy|Drama| 1879|
|       Drama|Romance| 1754|
|      Comedy|Romance| 1323|
|              Horror| 1308|
|Comedy|Drama|Romance|  856|
|      Drama|Thriller|  736|
|         Crime|Drama|  734|
|            Thriller|  732|
|     Horror|Thriller|  692|
|           Animation|  595|
|           Drama|War|  519|
+--------------------+-----+

In [75]:
spark.sql("insert into table genres_by_count \
          select genres, count(*) as count from movies\
          group by genres\
          having count(*) >= 500 \
          order by count desc")

DataFrame[]

In [76]:
spark.sql("select * from genres_by_count order by count desc limit 3").show()

+------------------+-----+
|            genres|count|
+------------------+-----+
|             Drama| 7069|
|            Comedy| 4735|
|(no genres listed)| 4135|
+------------------+-----+

In [77]:
schema = StructType([
             StructField('userId', IntegerType()),
             StructField('movieId', IntegerType()),
             StructField('tag', StringType()),
             StructField('timestamp', StringType())
            ])

tags_df = spark.read.csv("/example/data/tags.csv", schema = schema, header = True)
tags_df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [78]:
tags_df.registerTempTable('tags_df_table')

In [79]:
spark.sql('show tables').show()

+--------+---------------+-----------+
|database|      tableName|isTemporary|
+--------+---------------+-----------+
|  movies|genres_by_count|      false|
|  movies|         movies|      false|
|  movies|        ratings|      false|
|        |  tags_df_table|       true|
+--------+---------------+-----------+

Transform table in parquet table:

```
create table movies_parquet like movies stored as parquetfile;
```

Insert 

```
insert overwrite table movies_parquet select * from movies;
```

In [92]:
spark.sql("select * from movies_parquet Limit 10").show()

+-------+--------------------+--------------------+
|movieid|               title|              genres|
+-------+--------------------+--------------------+
|   null|               title|              genres|
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
+-------+--------------------+--------------------+

In [ ]:
%sh 
! beeline -u 'jdbc:hive2://zk1-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181,zk2-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181,zk5-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2'

ERROR: Line magic function `%sh` not found (But cell magic `%%sh` exists, did you mean that instead?).

Connecting to jdbc:hive2://zk1-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181,zk2-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181,zk5-hdinsi.ryqdksywwxsencjo1mya1iasvc.ax.internal.cloudapp.net:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2
Connected to: Apache Hive (version 1.2.1000.2.6.5.3003-25)
Driver: Hive JDBC (version 1.2.1000.2.6.5.3003-25)
Transaction isolation: TRANSACTION_REPEATABLE_READ
Beeline version 1.2.1000.2.6.5.3003-25 by Apache Hive
0: jdbc:hive2://zk1-hdinsi.ryqdksywwxsencjo1m>

Exit Beeline
0: jdbc:hive2://zk1-hdinsi.ryqdksywwxsencjo1m> ! exit